p-autocomplete {
  &:focus {
    outline: 0;
  }
}

.ui-autocomplete-panel {
  min-width: 160px;
  padding: 5px 0;
  margin: -1px 0 0;
  font-size: 13px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 0;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 3;

  .ui-autocomplete-list {
    padding: 0;
  }

  .ui-autocomplete-list-item {
    padding: 4px 10px;
    cursor: pointer;

    &:hover,
    &.ui-state-highlight {
      background-color: #f1f1f1;
      color: #000000;
    }
  }
}

.ui-inputtext {
  //@include flexGrow(1);
  line-height: 1.42857143;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  background-color: #FFFFFF;
  border: 1px solid #d3d3d3;
  border-radius: 0;
  color: inherit;
  padding: 0 24px 0 8px;
  font-size: 13px;
  height: 30px;
  transition: none;
  width: 100%;

  &:focus {
    border-color: #CAC7C7;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(172, 172, 172, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(172, 172, 172, 0.6);
  }

  .activated & {
    border-color: #d3d3d3;
    &:focus {
      border-color: #d3d3d3;
    }
  }

  .success & {
    border-color: #d3d3d3;
    &:focus {
      border-color: #d3d3d3;
    }
  }

  .error & {
    border-color: #c12326;
    &:focus {
      border-color: #C12326;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(226, 172, 177);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(226, 172, 177);
    }
  }
}

.ui-autocomplete {
  width: 100%;
  display: block;
  //@include flex();

  &:focus {
    outline: 0;
  }

  .ui-autocomplete-dropdown {
    position: relative;
  }

}

.ui-autocomplete-dropdown {

  &.ui-button {
    position: absolute;
    right: 0;
    top: 0;
    color: #FFFFFF;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 30px;
    width: 28px;
    margin-right: 0;
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    outline: none;

    &.ui-state-default {
      border: 0;
      background-position: right 50%;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: url(/assets/images/select-arrow.png);
      box-shadow: none !important;
    }

    &:hover, &.ui-state-focus {

    }
    span {
      display: none;
    }
  }

  .ui-button-text {
    padding: 0;
  }
}

/**
  For TagAutocompleteComponent
**/

.ui-autocomplete-token {
  margin: 5px 10px 0 0;
  background: #EAEAEA;
  border-radius: 2px;
}

.ui-autocomplete-input-token {
  margin: 0;
  padding: 0;
}

.ui-autocomplete-token-label {
  padding: 0 1.5em 0 .5em;
}

.ui-autocomplete-token-icon {
  color: #909090;
  top: 65%;
}

.ui-autocomplete-multiple {
  height: auto;
  .ui-inputtext {
    height: 28px;
    &:focus {
      border: 0;
      box-shadow: none;
    }
  }
}