.gray-bg {
  background-color: #f3f3f4;
}

.white-bg {
  background-color: #ffffff;
}

.navy-bg {
  background-color: #0074bc;
  color: #ffffff;
}

.blue-bg {
  background-color: #1c84c6;
  color: #ffffff;
}

.lazur-bg {
  background-color: #4c9dcf;
  color: #ffffff;
}

.yellow-bg {
  background-color: #ef7d14;
  color: #ffffff;
}

.red-bg {
  background-color: #e3000f;
  color: #ffffff;
}

.black-bg {
  background-color: #262626;
}