.st-btn {
  cursor: pointer;

  .fa {
    margin-right: 5px;
  }

}

.inp-out-badge-box {
  .st-ico-badge {
    cursor: pointer;
    font-size: 22px;
    display: inline;
    position: relative;
    top: 4px;
    right: 5px;
  }
}


.st-input-group-outer-ico {

  .form-control {
    width: 98%;
  }

  .input-group-btn {
    font-size: 18px;
    cursor: pointer;
  }
}


/* !standard widgets */

cgm_care_team_row,
cgm_filter_autocomplete{
  display: block;
}

.tab-head-row {
  margin-bottom: 5px;
}

.st-main-content {
  //@include borderNoColor();
  border-width : 1px;
  border-style : solid;

  .data-list-item {

  }

  .fa-trash {
    cursor: pointer;
  }
}

.st-table-row.head-row {
  border-bottom-width : 1px;
  border-bottom-style : solid;

  .padder {
    min-height: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;

    i.fa {
      margin-left: 5px;
    }
  }
}
.head-row .st-table-row-item {
}

.st-table-row-item {
  padding-top: 5px;
  padding-bottom: 5px;

  .fa-file-image-o {
    font-size: 20px;
  }
}


.removeCareMemberIco {
  cursor: pointer;
  font-size: 18px;
}

.st-main-content .body-row {
  display: flex;
  align-items: center;
}

.st-main-content .body-row:not(:last-child) {
  border-bottom-width : 1px;
  border-bottom-style : solid;
}

.care-team-tab .add-member-box {
  margin-bottom: 20px;
}

.form-grp-no-mrg .form-group {
  margin-bottom: 0;
}

.add-member-box {
  .st-table-row-item {
    min-height: 40px;
  }

  .padder {
    display: flex;
    align-items: center;
    min-height: 30px;
  }
}

.screenPartHeader {
  margin: 12px 0 0 -5px;
  font-weight: bold;
}