cgm_family_list_row.st-table-row:nth-of-type(odd) {
  background-color: #f5f4f4;
}

cgm_family_list_row.st-table-row:nth-of-type(even) {
  background-color: #ffffff;
}

.family-history .st-main-content .body-row {
  flex-wrap: wrap;
  padding: 5px 0;

  .row-detail {
    width: 100%;

    .family-form {
      padding: 15px 5px 0 5px;
    }

  }
}

.family-history .group-members:nth-of-type(odd) .zebra-row{
  background-color: #F5F4F4;

}

.family-history .group-members .zebra-row{
  background: none;
  border-bottom: 0;
}

.family-history .group-members .zebra-row:last-child{
  border-bottom: 1px solid #dddddd;
}

.family-row-wrapper {
  width: 100%;
  cursor: pointer;
}