.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
}

.badge {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: none;
}

.label-primary,
.badge-primary {
  background-color: #0074bc;
  color: #FFFFFF;
}

.label-success,
.badge-success {
  background-color: #0074bc;
  color: #FFFFFF;
}

.label-warning,
.badge-warning {
  background-color: #ef7d14;
  color: #FFFFFF;
}

.label-warning-light,
.badge-warning-light {
  background-color: #f8ac59;
  color: #ffffff;
}

.label-danger,
.badge-danger {
  background-color: #e3000f;
  color: #FFFFFF;
}

.label-info,
.badge-info {
  background-color: #0074bc;
  color: #FFFFFF;
}

.label-inverse,
.badge-inverse {
  background-color: #262626;
  color: #FFFFFF;
}

.label-white,
.badge-white {
  background-color: #FFFFFF;
  color: #5E5E5E;
}

.label-white,
.badge-disable {
  background-color: #2A2E36;
  color: #8B91A0;
}