.ui-widget-overlay {
  background: #1f2226;
  opacity: .60;
}

p-dialog {
  .ui-shadow {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);

  }

  .ui-dialog {
    position: absolute;
    padding: 0;
    overflow: hidden;
    width: 300px;

    .ui-dialog-titlebar {
      padding: .4em .4em .4em 1em;
      position: relative;
      border: 0;
    }

    .ui-dialog-buttonpane {

    }

    .ui-dialog-titlebar {
      background: transparent;
      padding: 5px;
    }

    .ui-dialog-content {
      position: relative;
      border: 0;
      padding: .5em 1em;
      background: 0;
      overflow: auto;
      zoom: 1;
    }
  }

  .ui-widget-content {
    border: 3px solid #ff3333;
    background: #ffffff;
    color: #222222;
  }

  .ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
  }

  .ui-corner-all {
    border-radius: 4px;
  }


  .ui-dialog-draggable .ui-dialog-titlebar {
    cursor: move;
  }
}

p-dialog.comment-box {
  .ui-widget-content{
    border: 1px solid #D5D5D5;
    background: #F5F4F4;
    color: #222222;
  }
  
  .ui-dialog-content {
    position: relative;
  }
  
  .ui-dialog-titlebar {
      background: #F5F4F4;
   }
   
   textarea {
     resize:none
   }
}