.schedule-top {
  margin: 15px 0;
}

.day-switcher {
  .fa-backward, .fa-forward {
    padding: 9px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
  }
  b {
    padding: 10px;
    border: 1px solid #ddd;
    display: inline-block;
    min-width: 325px;
    text-align: center;
    background-color: #fff;
  }
  button {
    margin-left: 25px;
  }
}

.paginate-wrapper {
  padding-top: 10px;
  .add-btn {
    margin-top: 7px;
  }
}

.k-header.k-scheduler-toolbar {
  display: none;
}

.k-scheduler-dayview {
  & > tbody > tr:first-child {
    display: none;
  }
}

.k-scheduler-layout.k-scheduler-dayview {
  border-bottom: 1px solid #d5d5d5;

  .k-event.k-event-inverse .appointment-title{
    padding-left: 10px;
  }
}

.k-widget.k-window {
  width: 50%;

  .k-popup-edit-form .k-window-content{
    width:100%;
    overflow: visible;
  }

  .k-scheduler-edit-form .k-edit-form-container {
    width:100%;

    .k-edit-label{
      float: left;
      clear: none;
      width: 15%;
      padding: 3px 1em;
      margin-left: 2%;
      text-align: right;
    }

    .k-edit-field{
      float: left;
      clear: none;
      width: 23%;
      margin-right: 2%;
      padding: 0 0 .6em;
    }
    .appointment-field {
      text-align: right;

      span.k-dropdown{
        width: 40%;
        display: inline-block;
        height: 20px;
        margin-bottom: 15px;
        margin-left: 1em;

        .k-dropdown-wrap{
          border-radius: 0;
        }
      }

      input.form-control {
        width: 50%;
        display: inline-block;
        height: 20px;
      }

      input.read-only {
        border: 0;
        width: 50%;
        display: inline-block;
        height: 20px;
        padding: 4px 10px;
      }
    }
  }
}

.scheduler-autocompl{
  padding: 10px 0;
}

.scheduler-header{
  text-align: center;

  .scheduler-icon{
    font-size: 1.5em;
    cursor: pointer;
    &:first-child {
      padding: 15px 5px 5px 0;
    }
    &:last-child {
      padding: 15px 0 5px 5px;
    }
  }
}

.scheduler-box {
  overflow: hidden;
}

.schedule-controls-box {
  @include borderNoColor();
  border-bottom-width: 0;
  .scheduler-header:first-child {
    text-align: center;
    margin-top: 7px;
    margin-left: 5px;
    min-width: 45px;
  }
  .scheduler-header:last-child {
    padding: 0;
    width: 15px;
    float: right;
    margin-right: 7px;
    i {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.k-widget.k-window {
  width: 50%;

  .k-scheduler-edit-form .k-edit-form-container {
    width: inherit;

    p.appoinment-field {
      text-align: right;
    }
  }
}

.schedule-wrapper {
  padding-right: 40px;
}

.schedule-wrapper > div {
  height: 930px;
  overflow: hidden;
}

p-paginator {
  background-color: #fff;
}

.km-widget.km-buttongroup {
  display: inline-block !important;
}

.r-padding {
  padding-right: 40px;
}

.drop-area {
  background-color: #b8f7ff;
  border-color: #2f59aa !important;
}

.drop-schedule-area, .k-scheduler-table .ui-droppable:hover {
  background-color: #b8f7ff;
}

.max-z-index {
  z-index: 999999999;
}

.km-widget.km-buttongroup {
  display: inline-block !important;
}

.appointment-clipboard {
  .k-grid-header {
    display: none;
  }
}

.added-to-clipboard {
  background-color: #a6aead;
  height: 100%;
}