.nav-tabs > li > a {
  margin-right: 14px;
  padding: 11px 20px;
  border-color: #D1D1D1;
  outline: 0;
  font-size: 14px;
  background-color: #EBEBEB;
  color: #545555;
  &:hover {
    border-color: #cecece;
    background-color: #f2f2f2;
  }

  @media (max-width: 991px) {
    margin-right: 0;
    padding: 8px 10px;
  }
}

.nav-tabs > li.active > a {
  margin-right: 14px;
  padding: 11px 20px;
  border-color: #D1D1D1;
  outline: 0;
  font-size: 14px;
  background-color: #EBEBEB;
  color: #000000;
  &:hover {
    border-color: #cecece;
    background-color: #f2f2f2;
  }

  @media (max-width: 991px) {
    margin-right: 0;
    padding: 8px 10px;
  }
}

.nav-tabs > li {
  @media (max-width: 991px) {
    float: none;
  }
}