#showHid {
  display: none;
}

//.empty-chb-lbl {
//  width: 17px;
//  height: 17px;
//  position: relative;
//  display: inline-block;
//  border: 1px solid #cccccc;
//  border-radius: 3px;
//  background-color: #fff;
//  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
//  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
//  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
//}
//
//.empty-chb-inp {
//  display: none;
//}

.cgm-info-popup-box {

  position: relative;
  margin-right: 25px;

  .cgm-info-popup {
    position: absolute;
    left: -85%;
    right: -50%;
    bottom: 100%;
    margin-bottom: 4px;
    padding: 17px;
    border-radius: 3px;
    @include borderNoColor();
    border-color: #D8D8D8;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  }

  &:hover, &.active {
    .cgm-info-popup {
      display: block;
    }
  }
  .ui-autocomplete .ui-inputtext {
    height: 30px;
  }
}

.cgm-info-popup {
  display: none;
}

.vitals {
  .column-table-default {
    border: 1px solid #D3D3D3;

    &.column-table-reversed {
      flex-direction: row-reverse;
    }

    * {
      box-sizing: border-box;
    }

    .column.checkboxes {
      order: 2;
      .empty-checkbox {
        padding-left: 17px;
        height: 17px;

        &.checkbox label {
          padding-left: 0;
        }

        &.checkbox label:before,
        &.checkbox label:after {
          margin-left: -17px;
        }
      }

      .column-top,
      .column-body-row {
        padding: 5px;
        @include flexCentralizeH();
      }

      .column-top {
        //@include borderNoColor(left);

      }

      .column-body-row {
        //@include borderNoColor(left);
        // border-left: 1px solid #E9E8E8;
      }

    }

    .titles {
      order: 1;
      .column-top,
      .column-body-row {
        padding: 5px 13px 5px 10px;
      }

    }

    .dates {

      .column-top,
      .column-body-row {
        padding: 5px 60px 5px 30px;
      }
    }

    // end of table
    .column {
      &:last-child {
        .column-top {
          //@include borderNoColor(right);
          //border-right: 1px solid #D3D3D3;
        }

        .column-body-row {
          //@include borderNoColor(right);
          //border-right: 1px solid #E9E8E8;
        }
      }
    }

    .comment-text {
      display: inline-block;
      max-width: 150px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .column-body {
      margin-top: 2px;
      @include borderNoColor(top);
    }
  }
  /* !column-table-default */

  .cgm-datepicker-host {
    display: block;
    position: relative;
    min-width: 165px;
  }

  .cgm-datepicker-host .text-danger{
    width: 200px;
  }

  .btn.trend-btn {
    height: 26px;
    padding: 0 12px;
  }

  .ui-button-icon-only .ui-button-text {
    font-size: 0;
  }

  .ui-inputtext {
    //height: 25px;
  }

  .input-host {
    .control-label {
      //display: none;
    }
  }

  .vital-hide-toggler-box i.fa {
    cursor: pointer;
  }

  /* ---  Add Vitals Column --- */
  .column.add-vital {
    @include flexGrow(2);

    .column-top {
      padding-left: 0;
    }
  }
  /* ---  !Add Vitals Column --- */

  .blood-drop {
    @include flexGrow(1);
    max-width: 100px;
  }

  .reason-popup {
    min-width: 275px;
  }

  .reason-popup-date {
    font-size: 13px;
    font-weight: normal;

  }

  .reason-popup-time {
    display: inline-block;
    margin-left: 6px;
  }

  .reason-popup-info-box {
    margin-top: 10px;
  }
  .reason-list {
    padding-left: 20px;
  }

}

/* !vitals */

.vital-entity {
  @include flexGrow(1);

  .column-top,
  .column-body-row {
    padding: 5px 20px 5px 12px;
  }

  .column-top-date {
    display: inline-block;
    cursor: pointer;
  }

}

.vitals-input-sm {
  width: 50px;
  margin-right: 2px;
  .text-danger {
    white-space: nowrap;
  }
}

.vitals .top-box {
  margin-bottom: 10px;
}

.add-vitals-btn {
  margin-left: auto;
  cursor: pointer;

}

/* !add-vitals-btn */

.add-comment-btn {

}

.vitals .pagination {
  margin: 0 20px 0 0;
}

/* SHOULD BE IN GLOBAL */

.empty-checkbox,
.empty-checkbox * {
  cursor: pointer;
}

.empty-checkbox {
  display: inline-block;
  margin: 0;
}

.empty-checkbox label {
  padding-left: 0;
}

.column-table-default {
  @include flex();

  .column-top,
  .column-body-row {
    @include flex();
    @include flexCentralizeV();
  }

  .column-top {
    height: 42px;
    @include borderNoColor(bottom);
    //border-bottom: 1px solid #D3D3D3;
  }

  .column-body-row {
    height: 30px;
    padding: 5px 5px;
    box-sizing: content-box;

    &.container-fluid .row {
      @include flexGrow(1);
    }

    cgm_input {
      display: inline-block;
      vertical-align: middle;
    }

    .form-group, .control-label, label {
      margin-bottom: 0;
    }

    .empty-checkbox label {
      padding-left: 0;
    }

  }

  .column:nth-child(odd) {
    .column-body-row:nth-child(even) {
      //background-color: #F5F4F4;
    }

  }

  .column:nth-child(even) {
    .column-body-row:nth-child(even) {
      //background-color: #F1F0F0;
    }
  }

  .blood-pressure-row {
  }

  .blood-inp-first {
    margin-right: 5px;
  }

  .blood-inp-second {
    margin: 0 5px;
  }

  .blood-select-first,
  .blood-select-second {
    margin: 0 5px;
  }

}

.add-vitals-actions-box {

  margin-top: 25px;

  .btn:first-child {
    margin-right: 25px;
  }
}