<section class="admin_header__ng2"></section>





<main class="container-fluid">

	<div class="row row-offcanvas row-offcanvas-left">
		
		<div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item"><a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/details" routerLinkActive="active">Details</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
                <li class="nav-item"><a class="nav-link" href="">Nav item</a></li>
                <li class="nav-item"><a class="nav-link" href="">Nav item</a></li>
                <li class="nav-item"><a class="nav-link" href="">Another</a></li>
                <li class="nav-item"><a class="nav-link" href="">Nav item</a></li>
                <li class="nav-item"><a class="nav-link" href="">One more</a></li>
            </ul>
        </div>

			<div class="col-md-9 col-lg-10">
            	<router-outlet></router-outlet>
			</div>



	</div>


</main>


<footer class="admin_footer__ng2 container-fluid bg-primary"></footer>
