<section class="admin_header__ng2"></section>





<main class="container-fluid">

	<div class="row row-offcanvas row-offcanvas-left">
		
            <div class='navigation__ng2'></div>

			<div class="col-md-9 col-lg-10">
				<p class="hidden-md-up">
		                <button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas"><i class="fa fa-chevron-left"></i> Menu</button>
		        </p>
            	<router-outlet></router-outlet>
			</div>



	</div>


</main>


<footer class="admin_footer__ng2 container-fluid bg-primary"></footer>
