.cgm-info-popup2 {
    display : none;

}

.active .cgm-info-popup2 {
    display : block;
    position: absolute;
    top: 45px;
    left:0;
    background-color: white;     
    box-shadow: 0 0 4px 1px rgba(0 ,0, 0, .4);
    border-radius: 3px;
    z-index: 100;
    padding: 5px 10px;
}